body {
  background-color: magenta;
  color: white;
  font-weight: bold;
  font-family: Canaro;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

h1:hover {
  transition: color 1s ease;
}
